.products-table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid gray;
}

img {
    width: 100px;
}

.search-form {
    margin: 1rem;

    button {
        margin-left: 0.5rem;
    }
}
