<table class="products-table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>詳細</th>
            <th>URL</th>
            <th>画像</th>
            <th>種類</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let product of products">
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td><a href="{{product.onlineStoreUrl}}">リンク</a></td>
                <td><img src="{{product.images[0].src}}"></td>
                <td>
                    <ng-container *ngFor="let variant of product.variants">
                        <div>サイズ：{{variant.title}} (¥{{variant.price}})</div>
                    </ng-container>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>